/*login-box*/
.login-box-body, .profile-user-img, .register-box-body {
    box-shadow: 0 2px 2px 0 rgba(169, 169, 169, .14), 0 3px 1px -2px rgba(169, 169, 169, .2), 0 1px 5px 0 rgba(169, 169, 169, .12);
}
.login-logo, .register-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}
.login-logo a, .register-logo a {
    color: #fff;
}
.login-page, .register-page {
    background: url(../images/login-register.jpg) center center no-repeat #d2d6de;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}
.login-box {
    width: 500px;
    margin: 7% auto;
}
.register-box {
    width: 360px;
    margin: 5% auto;
}
.login-box .fog-pwd {
    position: relative;
    margin-bottom: 10px;
}
.login-box .fog-pwd i {
    position: relative;
    padding-right: 15px;
}
.has-feedback {
    position: relative;
}
.register-page .form-control-feedback, .login-page .form-control-feedback, .lockscreen .form-control-feedback  {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

@media (max-width:768px) {
    .lockscreen-wrapper, .login-box, .register-box {
    width: 90%;
    margin-top: 20px;
}
.lockscreen, .login-page, .register-page {
    position: relative;
    background-size: inherit;
}
}

.login-box-body, .register-box-body {
    background: rgba(255, 255, 255, .9);
    padding: 20px 20px 10px;
    border-top: 0;
    color: #666;
    border-radius: 0px;
    border: 4px solid #babbbb;
    box-shadow: 0 2px 2px 0 rgba(169, 169, 169, .14), 0 3px 1px -2px rgba(169, 169, 169, .2), 0 1px 5px 0 rgba(169, 169, 169, .12);
}
.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
    color: #777;
    line-height: 35px;
}
.login-box-msg, .register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px;
}



.btn-primary, .btn-primary:focus{
  background: #F44336 !important;
  border-color: #F44336 !important;
  font-weight:600;
}
.btn-primary:hover, .btn-hover-primary:hover, .btn-hover-primary:active, .btn-hover-primary.active, .btn-primary:active, .btn-active-primary.btn:active, .btn-active-primary.btn.active, .btn-active-primary+.dropdown-menu>li>a:hover, .btn-active-primary+.dropdown-menu>li>a:focus, .btn-active-primary+.dropdown-menu>.active>a, .open .dropdown-toggle.btn.btn-active-primary, .btn-group.open .dropdown-toggle.btn.btn-active-primary, .btn-primary.active, .btn-primary:disabled, .btn-primary.disabled, .btn-primary:not([class*="btn-active-"])+.dropdown-menu>li>a:hover, .btn-primary:not([class*="btn-active-"])+.dropdown-menu>li>a:focus, .btn-primary:not([class*="btn-active-"])+.dropdown-menu>.active>a, .btn-primary+.dropdown-menu:not(.head-list)>li>a.active, .open>.dropdown-toggle.btn-primary{
  background-color: #1c1c1c !important;
    border-color: #1c1c1c !important;
    color: #fff !important;
}

.navbar-content .search-container input {
        padding: 0 10px;
    height: 35px;
    border: 1 !important;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    opacity: none;
    /* background: #fff; */
    /* color: #ccc; */
    border: 1px solid #fff !important;

}

.form-control {
    height: 40px;
    font-size: 13px;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.07);
    transition-duration: .5s;
        margin-bottom: 10px !important;
}
.form-control:focus {
    border-color: #1c1c1c;
    box-shadow: none;
    transition-duration: .5s;
}


.brand-icon {
    display: block;
    line-height: 59px;
    width: 90% !important;
    height: auto !important;
    float: left;
    margin: 15px 0 0 15px !important;
}
.panel-danger .panel-heading, .panel-danger .panel-footer, .panel-danger.panel-colorful {
    background-color: #52504f;
    border-color: #52504f;
    color: #fff;
}
.text-2x {
    font-size: 20px;
}
.pad-hor {
     padding-left: 0px;
     padding-right: 0px;
}
.media {
    margin-top: 15px;
    min-height: 100px;
}

table a{ color:#f44336}

table a:hover, a:focus {
    text-decoration: none;
    color: #f44336;
    outline: 0 !important;
}


.mainnav-profile .profile-wrap {
    padding: 10px 20px 12px;
    background-color: #f1f1f1;
}


.panel-colorful a{color: #fff;}

.listC ul{margin: 0px; padding: 0px;}
.listC ul li{margin: 0px; padding:0 10px; list-style: none; float: left; border-right: 1px solid #ccc; color: #222;}
.listC ul li a{color:#222;}
.listC ul li a:hover{color:#F44336;}
.paddingleft0{padding-left:0px !important ;}
.borerright0{border-right:0px !important ;}

.panel-title {
font-weight:600 !important;
font-size: 1.35em !important;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    width: auto !important;
    height: 266px !important;
}


.carousel-indicators .active {
    background-color: #dc2f2f !important;
}
.carousel-indicators li{
  border: 1px solid #dc2f2f !important;
}


.carousel-inner>.item {
     padding-top: 0px !important;
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    /* text-align: center; */
    margin: 0px auto !important;
}

.mainnav-menu-wrap{min-height: 370px;}
