<div class="container">
  <div class="col-md-4 col_2">
    <h4>About Us</h4>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
  </div>
  <div class="col-md-2 col_2">
    <h4>Help & Support</h4>
    <ul class="footer_links">
      <li><a href="#">24x7 Live help</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Feedback</a></li>
      <li><a href="#">FAQs</a></li>
    </ul>
  </div>
  <div class="col-md-2 col_2">
    <h4>Quick Links</h4>
    <ul class="footer_links">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms and Conditions</a></li>
      <li><a href="#">Services</a></li>
    </ul>
  </div>
  <div class="col-md-2 col_2">
    <h4>Social</h4>
    <ul class="footer_social">
    <li><a href="https://www.facebook.com/Vishwakarma-Foundation-Seva-Trust-1418477775074117/?fref=ts" target="_blank"><i class="fa fa-facebook fa1"> </i></a></li>
    <li><a href="#"><i class="fa fa-twitter fa1"> </i></a></li>
    <li><a href="#"><i class="fa fa-google-plus fa1"> </i></a></li>
    <li><a href="#"><i class="fa fa-youtube fa1"> </i></a></li>
    </ul>
  </div>
  <div class="clearfix"> </div>
  <!-- <div class="copy">
     <p>Copyright © 2015 Marital . All Rights Reserved  | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
    </div> -->
</div>
