<div class="navbar-inner">
  <div class="container">
     <div class="navigation">
       <nav id="colorNav">
   <ul>
  <li class="green">
    <a href="#" class="icon-home"></a>
    <ul>
        <li><a href="/home">Home</a></li>
        <!-- <li><a href="/About_us">About Us</a></li>
        <li><a href="/presidentmsg">President Message</a></li>
        <li><a href="/Services">Services</a></li>
        <li><a href="/Contact_us">Contact Us</a></li> -->
        <li><a href="/New_Profiles">New Matches</a></li>
        <li><a href="/My_Profile">My Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
  </li>
   </ul>
       </nav>
     </div>
     <a class="brand" href="/home"><img src="Public/images/logo.png" class="logoimg" alt="logo"></a>
     <div class="pull-right">
      <nav class="navbar nav_bottom" role="navigation">
<div class="navbar-header nav_2">
    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
 </div>
  <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
      <ul class="nav navbar-nav nav_1 nav_new">
          <li><a href="/home">Home</a></li>
          <li><a href="/New_Profiles">New Matches</a></li>
          <li class="last"><a href="/My_Profile">My Profile</a></li>
          <li>
          <form action="/response" method="POST">
            <input type="hidden" name="userid" id="userid" value="">
            <input type="hidden" name="useremail" id="useremail" value="">
            <input type="hidden" name="username" id="username" value="">
            <input type="hidden" name="mobilenumber" id="mobilenumber" value="">
      		  <input type="submit" class="btn btn-warning" name="paybtn" value="Upgrade">
          </form>
        </li>
          <li><a href="/logout">Logout</a></li>
      </ul>
   </div>
  </nav>
 </div>
    <div class="clearfix"> </div>
  </div>
</div>
