<div class="navbar-inner">
  <div class="container">
     <div class="navigation">
       <nav id="colorNav">
   <ul>
  <li class="green">
    <a href="#" class="icon-home"></a>
    <ul>
      <li><a href="/Login">Login</a></li>
      <li><a href="/Registration">Register</a></li>
    </ul>
  </li>
   </ul>
       </nav>
     </div>
     <a class="brand" href="/"><img class="logoimg" src="Public/images/logo.png" alt="logo"></a>
     <div class="pull-right">
      <nav class="navbar nav_bottom" role="navigation">

  <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
      <ul class="nav navbar-nav nav_1">
        <li class="last"><a href="/About_us">About Us</a></li>
        <li class="last"><a href="/presidentmsg">President Message</a></li>
        <li class="last"><a href="/Services">Services</a></li>
        <li class="last"><a href="/Contact_us">Contact Us</a></li>
        <li class="last"><a href="/Login"><b>Login</b></a></li>
      </ul>
   </div>
  </nav>
 </div>
    <div class="clearfix"> </div>
  </div>
</div>
