<nav id="mainnav-container">
    <div id="mainnav">
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <div id="mainnav-profile" class="mainnav-profile">
                        <div class="profile-wrap">
                            <div>
                              Welcome to:
                            </div>
                            <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                <span class="pull-right dropdown-toggle">
                                    <i class="dropdown-caret"></i>
                                </span>
                                <p class="mnp-name">Admin</p>
                            </a>
                        </div>
                        <div id="profile-nav" class="collapse list-group bg-trans">

                            <a href="/AdminLogin" class="list-group-item">
                                <i class="demo-pli-unlock icon-lg icon-fw"></i> Logout
                            </a>
                        </div>
                    </div>
                    <ul id="mainnav-menu" class="list-group">
                      <li id="AdminDashboard">
                          <a href="/AdminDashboard">
                              <i class="demo-pli-home"></i>
                              <span class="menu-title">Dashboard</span>
                          </a>
                      </li>

                      <li>
                          <a href="/AllProfiles">
                              <i class="fa fa-users" aria-hidden="true"></i>
                              <span class="menu-title">All Profiles</span>

                          </a>
                      </li>
                      <li>
                          <a href="/AllGrooms">
                              <i class="fa fa-male" aria-hidden="true"></i>
                              <span class="menu-title">All Groom profiles</span>

                          </a>
                      </li>
                      <li>
                          <a href="/AllBrides">
                              <i class="fa fa-female" aria-hidden="true"></i>
                              <span class="menu-title">All Bride profiles</span>

                          </a>
                      </li>

                      <li>
                          <a href="/DeletedProfiles">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                              <span class="menu-title">Deleted Profiles</span>

                          </a>
                      </li>

                      <li>
                          <a href="/PaidProfiles">
                              <i class="fa fa-users" aria-hidden="true"></i>
                              <span class="menu-title">Paid Users</span>

                          </a>
                      </li>

                      <li>
                          <a href="/UnpaidProfiles">
                              <i class="fa fa-users" aria-hidden="true"></i>
                              <span class="menu-title">Unpaid Users</span>

                          </a>
                      </li>
                     <li>
                        <a href="/SiteManage">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <span class="menu-title">Site Manager</span>
                        </a>
                    </li>
                    <li>
                       <a href="/ProfileReg_Admin">
                           <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                           <span class="menu-title">Profile Registration</span>
                       </a>
                   </li>
                </ul>

                </div>
            </div>
        </div>

    </div>
</nav>
